@model HandleErrorInfo
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color: red">Error, we ran into erros. Please try again!</h2>

<h5>Action: @Model.ActionName</h5>
<h5>Controller: @Model.ControllerName</h5>
<h5>Message: @Model.Exception.Message</h5>

